body{
    font-family: 'Poppins', sans-serif;
    font-size:18px;
}
.container{
    display:100%;
    max-width:800px;
}
.body-content{
margin:0 auto;
}
.body-1{
    margin-bottom:60px;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size:20px;
}
